{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Home - GC</title>
</head>
<body>
    {% include "partials/sidebar.html" %}
    <div class="add-post"></div>
    <main class="content">
        <h1>Página principal</h1>
        {% if user.is_authenticated %}
        <div class="cards-container">
            {% if postagens %}
            {% for post in postagens %}
            <div class="cards">
                <div class="cards-text">
                    <textarea id="post-text" readonly>{{ post.conteudo }}</textarea>
                </div>
                <div class="cards-icons">
                    <div class="report-field">
                        <a href="{% url 'reportar_postagem' post.id %}" name="report-icon"><i class="bi bi-flag"></i></a>
                    </div>
                    <div class="see-field">
                        <a href="{% url 'visualizar_postagem' post.id %}" name="eye-icon"><i class="bi bi-eye"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class='no-posts'>
                <h3>Não há nenhuma publicação até o momento.</h3>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="div-post">
            <form action="{% url 'postar'%}" method="POST"> {% csrf_token %}
                <h2>Adicionar Publicação</h2>
                <textarea id="post-text-field" placeholder="Escreva algo..." name='conteudo'></textarea>
                <div>
                    <input type="text" id='post-input-title' name='titulo' placeholder="Digite um título para sua publicação">
                    <button type="submit" class="post-button-submit">Publicar</button>
                </div>
            </form>
        </div>
    </main>
    <div class="button-content">
        <button class="button-add">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    <script src="{% static 'scripts/home/home.js'%}"></script>
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}
</body>
</html>