{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Suas Publicações - GC</title>
</head>
<body>
    <div class="div-button-side-bar">
        <button class="button-side-bar">
            <i class="bi bi-chevron-compact-right"></i>
        </button>
    </div>
    <nav class="side-bar">
        <ul>
            <li><a href="{% url 'home' %}"><i class="bi bi-house"></i>Página Inicial</a></li>
            <li id='fazer_publicacao'><a href="#"><i class="bi bi-plus-circle"></i>Fazer Publicação</a></li>
            <li><a href="{% url 'suas_publicacoes' %}"><i class="bi-file-earmark-text"></i>Suas Publicações</a></li>
            <li><a href="#"><i class="bi bi-envelope"></i>Contato</a></li>
            <li><a href="#"><i class="bi bi-box-arrow-left"></i>Sair</a></li>
        </ul>
    </nav>
    <div class="add-post"></div>
    <main class="content">
        <h1>Suas Publicações</h1>
        <div class="cards-container">
            {% if postagens %}
            {% for post in postagens %}
            <div class="cards">
                <div class="cards-text">
                    <textarea id="post-text" readonly>{{ post.conteudo }}</textarea>
                </div>
                <div class="cards-icons">
                    <div class="report-field">
                        <a href="{% url 'reportar_postagem' post.id %}" name="report-icon"><i class="bi bi-flag"></i></a>
                    </div>
                    <div class="see-field">
                        <a href="{% url 'visualizar_postagem' post.id %}" name="eye-icon"><i class="bi bi-eye"></i></a>
                    </div>
                    <div class="delete-field">
                        <a href="#" name="delete-icon" data-post-id="{{ post.id }}"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class='no-posts'>
                <h3>Você ainda não realizou nenhuma publicação.</h3>
            </div>
            {% endif %}
        </div>
        <div class="div-post">
            <form action="{% url 'postar'%}" method="POST"> {% csrf_token %}
                <h2>Adicionar Publicação</h2>
                <textarea id="post-text-field" placeholder="Escreva algo..." name='conteudo'></textarea>
                <div>
                    <input type="text" id='post-input-title' name='titulo' placeholder="Digite um título para sua publicação">
                    <button type="submit" class="post-button-submit">Publicar</button>
                </div>
            </form>
        </div>
        <div class="div-delete" id="delete-modal">
            <div>
                <p>Tem certeza que deseja excluir esta publicação?</p>
                <div class="div-delete-buttons">
                    <button id="confirm-delete-btn">Sim</button>
                    <button id="not-delete-btn">Não</button>
                </div>
            </div>
        </div>
    </main>
    <div class="button-content">
        <button class="button-add">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    <script src="{% static 'scripts/home/home.js'%}"></script>
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}
</body>
</html>