@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo-principal: #0A1F44;
    --cor-detalhe-sutil: #E5E8EB;
    --cor-titulo: #223A5E;
    --cor-texto: #B0B8C1;
    --cor-link-hover: #8F9CE0;
    --cor-botao-verde: #BAE19D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--cor-titulo);
    color: var(--cor-texto);
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100vh;
}

main h1 {
    text-align: center;
    margin: 2rem 0;
    height: 10%;
}

main div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 90%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--cor-link-hover);
    width: 70%;
    height: 70%;
    border-radius: 1rem;
}

.content .post-content {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-content input {
    width: 90%;
    padding: 0.5rem;
    height: 10%;
    border: none;
    margin-bottom: 1rem;
    border-radius: 10px
}

.post-content textarea {
    width: 90%;
    padding: 0.5rem;
    height: 80%;
    resize: none;
    border: none;
    border-radius: 10px
}

.post-content textarea:focus,
.post-content input:focus {
    outline: none;
}

label {
    color: black;
}

.content .report-area {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.report-area form {
    width: 100%;
    height: 100%;
}

.report-area form textarea {
    width: 90%;
    height: 80%;
    resize: none;
    border: none;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
}

.report-area form textarea:focus {
    outline: none;
}

.report-area form button {
    width: 90%;
    height: 10%;
    background-color: white;
    border: none;
    border-radius: 0px 0px 10px 10px;
    color: #000;
    transition: 0.2s linear;
    cursor: pointer;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.report-area form button:hover {
    background-color: var(--cor-botao-verde);
}

.button-content {
    position: fixed;
}

.button-content .button-add {
    position: fixed;
    background-color: transparent;
    border-radius: 50%;
    right: 5rem;
    bottom: 4rem;
    display: inline-flex;
    border: none;
    cursor: pointer;
    rotate: 45deg;
}

.button-content .button-add i {
    font-size: 3rem;
    transition: 0.3s linear;
}

.button-content button i:hover {
    font-size: 3.2rem;
}